{% extends "base.html" %}

{% block content %}

        <h2>{{ job.jobname }} (Version {{ job.version }})</h2>

        <center>
    	<table border="black">
		<tr>
			<th>Task ID</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr>
        {% for task in tasks %}
		<tr>
		<td>
            <a href='/taskinfo?jobname={{ job.jobname }}&version={{ job.version }}&taskid={{ task.task_id }}' >
                {{ task.task_id }}
            </a>
        </td>
		<td>{{ task.start.year }}/{{ task.start.month }}/{{ task.start.day }} {{ task.start.hour }}:{{ task.start.minute }}:{{ task.start.second }}</td>
		<td>
            {% if task.completed %}
            {{ task.end.year }}/{{ task.end.month }}/{{ task.end.day }} {{ task.end.hour }}:{{ task.end.minute }}:{{ task.end.second }}
            {% endif %}
        </td>
		</tr>

        {% endfor %}
        </table>
        </center>

    
{% endblock %}